<%- include ('../partials/header.ejs') %>
<%- include ('../partials/main_nav.ejs') %>
<div class="container">
<div class="row">
   <div class="col-md-offset-3 col-md-6">
   <h1><%= title %></h1>


   <form class="form" method="post">
   <div class="form-group">
   <label for="nameTextField"> SoccerPlayer Title></label>
   <input type="text" class="form-control"
   id="nameTextField"
   placeholder="Enter the SoccerPlayer Title"
   name="name" 
   value="<%= SoccerPlayer.name%>"
   required>
   </div>

<div class="form-group">
   <label for="nameTextField"> Team></label>
   <input type="text" class="form-control"
   id="TeamTextField"
   placeholder="Enter the SoccerPlayer's Team"
   name="Team"
   value="<%= SoccerPlayer.Team %>"
    required>
   </div>

   <div class="form-group">
   <label for="nameTextField">DOB></label>
   <input type="text" class="form-control"
   id="publishTextField"
   placeholder="Enter the Year DOB"
   name="DOB"
   value="<%= SoccerPlayer.DOB %>"
    required>
   </div>

   <div class="form-group">
   <label for="descTextField"> Nationality></label>
   <textarea type="text" class="form-control"
   id="descTextField"
   placeholder="Enter the Nationality Of the SoccerPlayer"
   name="Nationality" 
   required>
   <%= SoccerPlayer.Nationality%>
   </textarea>
   </div>

   <div class="form-group">
   <label for="priceTextField"> Price></label>
   <input type="number" class="form-control"
   id="priceTextField"
   placeholder="Enter the SoccerPlayer Price"
   name="price" 
   value="<%= SoccerPlayer.price %>"
   required>
   </div>
<br>
<button class="btn-btn-primary" type="submit">
<i class="fas fa-edit"></i> Submit
</button>

<a href="/SoccerPlayer-list" class="btn btn-warning">
<i class="fas fa-undo"></i>Cancel</a>
</form>

   </div>
   </div>
</div>

<%- include ('../partials/bottom_nav.ejs') %>
<%- include ('../partials/footer.ejs') %>