<%- include ('../partials/header.ejs') %>
<%- include ('../partials/main_nav.ejs') %>
<!-- Main Content -->
<main class="container">
  <div class="row"> 
  <div class="col-md-offset-3 col-md-10">
  <h1>Soccer Player Archive List</h1>
  <a href="/SoccerPlayer-list/add" class="btn btn-primary" role="button">
  <i class="fas fa-plus-circle"></i> Add a Soccer Player 
  </a>
  <br>
  <br>
  <table class= "table table-bordered table-striped table-hover">
  <tr>
  <th class="text-center col-2"> Name </th>
  <th class="text-center col-2"> Club Team </th>
  <th class="text-center col-1"> Date Of Birth</th>
  <th class="text-center col-5"> Nationality </th>
  <th class="text-center col-1">  </th>
  <th class="text-center col-1">  </th>
  </tr>
  <!-- Repeat the template --> 
  <% for(let count=0; count<SoccerPlayerlist.length; count++) { %>
  <tr>
  <td class="text-center col-2"><%= SoccerPlayerlist [count].name %></td>
  <td class="text-center col-2"><%= SoccerPlayerlist [count].Team %></td>
  <td class="text-center col-1"><%= SoccerPlayerlist [count].DOB %></td>
  <td class="text-center col-5"><%= SoccerPlayerlist [count].Nationality %></td>
  
  <td class="text-center col-1">
  <a href="/SoccerPlayer-list/edit/<%= SoccerPlayerlist [count]._id %>"
  class = "btn btn-primary">
  <i class="fas fa-pencil-alt"></i> Edit </a>
  </td>
 <td class="text-center col-1">
  <a href="/SoccerPlayer-list/delete/<%= SoccerPlayerlist [count]._id %>"
  class = "btn btn-danger">
  <i class="fas fa-trash-alt"></i> Delete </a>
  </td>


  </tr>
  <% } %>
  </table>

  </div>
  
</div>
</main>


<%- include ('../partials/bottom_nav.ejs') %>
<%- include ('../partials/footer.ejs') %>
